body {
  
}

.row {
  display: flex;
  flex-flow: row;
}

.col {
  display: flex;
  flex-flow: column;
}

.board {
  background-color: bisque;
  max-width: 66%;
}

#rest {
  min-height: 50%; 
  background-color: darkgoldenrod;
}

.right {
  min-height: 50%;
  background-color: darkseagreen;
  flex: 1;
}

#shipSection {
  min-width: 50%;
  min-height: 100px;
}

#researchTree, #techTree {
  min-width: 50%;
  min-height: 100px;
}

.tech, .research {
  justify-content: space-around;
}

.techCell, .researchCell {
  background-color: darkturquoise;
  margin: 2px;
  border: 1px solid black;
  min-width: 48px;
  min-height: 48px;
}

.cubeCell {
  margin: 2px;
  border: 1px solid black;
  min-width: 24px;
  min-height: 24px;
}

#money .cubeCell {
  background-color: goldenrod;
}

#science .cubeCell {
  background-color: lightpink;
}

#materials .cubeCell {
  background-color: brown;
}

#actions {
  justify-content: space-around;
}

.actionCell {
  margin: 2px;
  border: 1px solid black;
  min-width: 32px;
  min-height: 32px;
}

.shipParts {
  justify-content: space-between;
  background-color: indianred;
}

.shipParts .row {
  justify-content: space-between;
}

.partsCell {
  margin: 2px;
  border: 1px solid black;
  min-width: 48px;
  min-height: 48px;
  background-color: gray;
}

#rep {
  min-width: 50px;
  min-height: 100px;
}

#rounds .highlight {
  background-color: purple;
}





svg {

}

svg g.empty {
  fill-opacity: 0.1;
}

svg g.empty:hover {
  fill-opacity: 1;
}

/* svg g:hover text {
  fill-opacity: 1;
} */

svg g polygon {
  stroke: #000000;
  stroke-width: 0.33;
  transition: fill-opacity .2s;
}

svg g circle.wormhole {
  fill: silver;
}

svg g circle.influence {
  fill: silver;
  fill-opacity: .1;
  stroke: tomato;
  stroke-width: .5;
}

svg g circle.influence.green {
  fill: greenyellow;
  fill-opacity: 1;
}

svg g text {
  font-size: 0.3em;
  fill-opacity: .5;
}

svg g.filled text {
  fill: chartreuse;
  fill-opacity: 1;
  stroke: white;
  stroke-width: .25;
}

svg g.empty text {
  fill: #000000;
}

svg path {
  fill: none;
  stroke: hsl(310, 86%, 44%);
  stroke-width: 0.4em;
  stroke-opacity: 0.3;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.ring0 {
  fill: lightcoral
}

.ring1 {
  fill: lightblue;
}

.ring2 {
  fill: lightgreen;
}

.ring3 {
  fill: white;
}