body {
  
}

.row {
  display: flex;
  flex-flow: row;
}

.col {
  display: flex;
  flex-flow: column;
}

.board {
  background-color: bisque;
  max-width: 66%;
}

#rest {
  min-height: 50%; 
  background-color: darkgoldenrod;
}

.right {
  min-height: 50%;
  background-color: darkseagreen;
  flex: 1;
}

#shipSection {
  min-width: 50%;
  min-height: 100px;
}

#researchTree, #techTree {
  min-width: 50%;
  min-height: 100px;
}

.tech, .research {
  justify-content: space-around;
}

.techCell, .researchCell {
  background-color: darkturquoise;
  margin: 2px;
  border: 1px solid black;
  min-width: 48px;
  min-height: 48px;
}

.cubeCell {
  margin: 2px;
  border: 1px solid black;
  min-width: 24px;
  min-height: 24px;
}

#money .cubeCell {
  background-color: goldenrod;
}

#science .cubeCell {
  background-color: lightpink;
}

#materials .cubeCell {
  background-color: brown;
}

#actions {
  justify-content: space-around;
}

.actionCell {
  margin: 2px;
  border: 1px solid black;
  min-width: 32px;
  min-height: 32px;
}

#rep {
  min-width: 50px;
  min-height: 100px;
}

#rounds .highlight {
  background-color: purple;
}